@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Mukta:400,600,700');

@font-face {
  font-family: 'Playlist';
  src: url('./assets/fonts/playlist-webfont.woff2') format('woff2'),
       url('./assets/fonts/playlist-webfont.woff') format('woff'),
       url('./assets/fonts/playlist-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Mukta', sans-serif;
}

.verticalCenter {
  position: relative;
  margin: 0 auto;
  z-index: 100;
  text-align: left;
  top: 40%;
  padding: 28px;
  transform: translateY(-50%);
}
